/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: white;
    background-color: black;
}

/* UTILITIES */
/* display */
.dis_b {
    display: block;
}

ul {
    list-style: none;
}

.button {
    background-color: #3a3a3a ;
    color: white;
    border: none;
}

.border_rounded {
    border-radius: 5px;
}

/* distances */
.px_10 {
    padding-left: 10px;
    padding-right: 10px;
}

.py_5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.py_10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mr_5 {
    margin-right: 5px;
}

/* HEADER */
header {
    /* background-color: red; */
    text-align: right;
}

/* MAIN */
main {
    flex-grow: 1;
    overflow: auto;
}

main > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

main > ul > li {
    width: 250px;
    height: 175px;
    margin: 10px;
    position: relative;
}

main > ul > li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main ul .info {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.7);
}

/* FOOTER */
footer {
    background-color: blue;
    display: flex;
    justify-content: space-between;
}

footer > ul {
    display: flex;
    height: 50px;  /* provvisoria */
}

footer > ul > li {
    margin: 0 10px;
}