/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

/* UTILITIES */
/* display */
.dis_b {
    display: block;
}

/* HEADER */
header {
    background-color: red;
}

/* MAIN */
main {
    background-color: green;
    flex-grow: 1;
}

/* FOOTER */
footer {
    background-color: blue;
}